* {
	font-family: Prata, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #282829;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style-type: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0px;
	box-sizing: border-box;
	padding: 30px 50% 30px 162px;
	z-index: 10;
	transition: background-color 0.4s ease;
}
header.scrolled {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(6px);
}

.logo {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 36px;
	font-weight: 100;
}

.menu {
	display: flex;
	align-items: center;
	gap: 29px;
}
.menu a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	text-transform: uppercase;
}
a:hover {
	color: #D5C9BE;
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 32px;
	height: 32px;
	cursor: pointer;
	z-index: 11;
}

.mainContent {
	position: relative;
	top: 0;
}

.mainAd {
	display: flex;
	justify-content: space-between;
	min-height: 1000px;
	background-color: #222222;
	margin-bottom: 100px;
}
.mainAd img {
	width: 40%;
	object-fit: cover;
}

.mainAdText {
	width: 60%;
	min-height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	padding: 270px 0 50px 162px;
	box-sizing: border-box;
}
.mainAdText h1 {
	font-size: 80px;
	font-weight: 100;
	line-height: 120%;
	margin-bottom: 20px;
}
.mainAdText p {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 64px;
}
.adList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 25px;
}
.adList li {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	padding-left: 57px;
}
.adList li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background-image: url(images/icons/marker1.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.listNumbers {
	font-size: 40px;
	padding-top: 6px;
}

.orderBtn {
	height: 96px;
	width: 191px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: none;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.orderBtn:hover {
	background-color: #cdcccc;
	cursor: pointer;
}

.MBbtn {
	width: 100%;
	height: 78px;
	font-size: 20px;
}

.middleBlock {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	height: 724px;
}
.middleBlock img {
	width: 100%;
	height: 724px;
	object-fit: cover;
}
.MBlist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 53px;
}
.MBlist li {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 67px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
.MBlist li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 58px;
	height: 47px;
	background-image: url(images/icons/marker2.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.separator {
	width: 100%;
	height: 1px;
	background-color: #55565A;
}

.lowerBlock {
	margin: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formBlock {
	position: relative;
	display: flex;
	width: 84%;
	height: 628px;
	border: 2px solid #D5C9BE;
	border-radius: 30px;
	box-sizing: border-box;
	z-index: 1;
}
.formContainer {
	padding-left: 134px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 28px;
	background-image: url("images/apart4.png");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}
.formBlock h1 {
	color: #38535D;
	font-size: 54px;
	font-weight: 100;
	margin-bottom: 45px;
}
.formField {
	width: 780px;
	height: 65px;
	border: 2px solid #D6D6D6;
	border-radius: 4px;
	margin-bottom: 16px;
	padding-left: 38px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	outline: 0;
	color: #55565A;
	box-sizing: border-box;
}
.formField:focus {
	border: 2px solid #adadad;
}
.formCheckbox {
	display: flex;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #55565A;
	gap: 16px;
	margin: 16px 0 26px 0;
}
.checkbox {
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	border: 2px solid #38535D;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.checkbox:checked::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #38535D;
	border-radius: 2px;
}
.formBtn {
	width: 780px;
	height: 100px;
	background-color: #282829;
	border: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	border-radius: 4px;
}
.formBtn:hover {
	cursor: pointer;
	background-color: #222222;
}
.formAppart {
	position: absolute;
	top: 0;
	right: 0;
	height: 628px;
}
.woman {
	position: absolute;
	bottom: 0;
	right: 200px;
	z-index: 0;
	height: 658px;
}


footer {
	background-color: #222222;
}
.lowerNav {
	border-bottom: 2px solid #D5C9BE;
	border-top: 2px solid #D5C9BE;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	height: 90px;
	color: #fff;
	text-transform: uppercase;
}
.footerLow {
	display: flex;
	justify-content: space-between;
	padding: 45px 170px;
	height: 250px;
	box-sizing: border-box;
}
.footerLogo {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footerSocials {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.socials {
	display: flex;
	gap: 32px;
}
.icon {
	width: 32px;
	height: 32px;
}
.footerOrder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.footerBtn {
	width: 180px;
	height: 78px;
	color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-style: italic;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
}
.footerLow a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #D5C9BE;
}

@media (max-width: 768px) {
	header {
		padding: 10px;
	}
	.burger {
		display: flex;
	}
	.logo {
		display: flex;
	}
	nav {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100vh;
		background-color: #222222;
		backdrop-filter: blur(6px);
		transition: right 0.3s ease-in-out;
		z-index: 10;
		padding-top: 80px;
	}
	nav.active {
		right: 0;
	}

	.menu {
		flex-direction: column;
		align-items: flex-end;
		gap: 20px;
		padding: 20px;
	}
	.menu a {
		font-size: 24px;
	}

	.mainAd {
		background: 
			linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
			url("images/apart1.png");
		background-size: cover;
		height: 500px;
		margin-bottom: 50px;
	}

	.mainAd img {
		display: none;
	}

	.mainAdText {
		width: 100%;
		color: #fff;
		box-sizing: border-box;
		padding: 80px 20px;
	}

	.mainAdText h1 {
		font-size: 40px;
		width: 200px;
		margin-bottom: 10px;
	}

	.mainAdText p {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.adList {
		display: none;
	}

	.orderBtn {
		height: 50px;
		width: 200px;
		border-radius: 4px;
		font-weight: 200;
	}

	.middleBlock {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.middleBlock img {
		display: none;
	}

	.MBlist {
		padding: 0 10px;
		align-items: center;
		margin-bottom: 50px;
	}

	.MBlist li {
		padding: 10px 10px 10px 35px;
		font-size: 20px;
	}
	.MBlist li::before {
		width: 30px;
		height: 30px;
	}
	.MBbtn {
		margin-top: 20px;
	}
	.lowerBlock {
		margin: 20px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.formBlock {
		width: 95%;
		border-radius: 10px;
		height: 300px;
	}

	.formContainer {
		width: 100%;
		height: 296px;
		background :#fff;
		padding: 0;
		justify-content: space-around;
		gap: 10px;
		padding: 10px 10px;
		border-radius: 8px;
	}

	.formBlock h1 {
		color: #38535D;
		font-size: 20px;
		font-weight: 100;
		margin-bottom: 0;
	}

	.formField {
		width: 100%;
		height: 40px;
		border-radius: 4px;
		margin-bottom: 5px;
		padding-left: 5px;
		font-size: 18px;
	}

	.formField:focus {
		border: 2px solid #adadad;
	}

	.formCheckbox {
		font-size: 19px;
		gap: 10px;
		margin: 0;
	}

	.formBtn {
		width: 100%;
		height: 50px;
		background-color: #282829;
		border: none;
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		border-radius: 4px;
	}

	.formBtn:hover {
		cursor: pointer;
		background-color: #222222;
	}

	.formAppart {
		display: none;
	}
	.woman {
		display: none;
	}
	footer {
		margin-top: 50px;
	}
	.lowerNav {
		width: 100%;
		flex-direction: column;
		font-size: 14px;
		gap: 20px;
		height: 90px;
		padding: 20px 0;
	}

	.footerLow {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 10px;
	}

	.footerLogo {
		font-size: 20px;
		flex-direction: column;
		justify-content: space-between;
	}

	.footerSocials {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.socials {
		display: flex;
		gap: 10px;
	}

	.footerOrder {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footerBtn {
		width: 80px;
		height: 25px;
		font-style: normal;
		font-size: 14px;
	}

	.footerLow a {
		font-size: 14px;
	}
}

@media (min-width: 769px) and (max-width: 1500px){
	header {
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 20px;
	}
	.menu {
		gap: 50px;
		padding: 10px 0;
	}
	.mainAdText {
		padding: 100px 0 50px 20px;
	}
	.mainAdText h1 {
		font-size: 50px;
	}

	.mainAdText p {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.adList {
		gap: 20px;
		margin-bottom: 25px;
	}

	.adList li {
		gap: 5px;
		font-size: 20px;
		padding-left: 40px;
	}

	.adList li::before {
		width: 25px;
		height: 25px;
	}

	.listNumbers {
		font-size: 22px;
	}
	.MBlist {
		padding: 0 20px;
	}

	.MBlist li {
		font-size: 20px;
	}

	.formBlock {
		position: relative;
		display: flex;
		width: 95%;
		height: auto;
	}

	.formContainer {
		padding: 10px 20px;
		border-radius: 28px;
	}

	.formBlock h1 {
		font-size: 25px;
		margin-bottom: 20px;
	}

	.formField {
		width: 50%;
		height: 50px;
		border-radius: 4px;
		margin-bottom: 10px;
		padding-left: 15px;
		font-size: 20px;
	}

	.formBtn {
		width: 50%;
		height: 50px;
		font-size: 20px;
		border-radius: 4px;
	}

	.woman {
		right: 50px;
		height: 425px;
	}

	.footerLow {
		padding: 40px 20px;
		height: 250px;
		justify-content: space-around;
	}

	.socials {
		gap: 20px;
	}

	.footerBtn {
		width: 100px;
		height: 40px;
		font-size: 18px;
		font-weight: 100;
	}

	.footerLow a {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #D5C9BE;
	}
}